@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
}

.users-container {
  background: #ffff;
  width: 400px;
  /*border-radius: 16px;*/

  -webkit-box-shadow: 5px 1px 8px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 1px 8px 3px rgba(0, 0, 0, 0.25);
}

.users-container .users {
  padding: 15px;
  height: 450px;
}

.users header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.user-details {
  padding: 5px;
  background: #f7f7f7;
  border-bottom: 1px solid rgb(190, 183, 183);
}

header .content {
  display: flex;
}
header .content img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.content .details,
.details-user-message {
  margin-left: 10px;
}
.content .details span {
  font-weight: 600;
  font-size: 17px;
}
.content .details .status {
  font-size: 10px;
  color: green;
  display: flex;
}

.content .details-user-message i {
  color: green;
  font-size: 10px;
  margin-left: 5px;
}

.content .sophia i {
  color: coral;
}
.message p {
  color: grey;
  font-weight: 500;
  margin-top: 2px;
  font-size: 14.5px;
}
.content .details .status i {
  margin-top: 3.5px;
}

.content .details p {
  font-size: 12px;
  margin-left: 10px;
}

header a {
  background: black;
  color: #f7f7f7;
  padding: 5px 10px;
  border-radius: 10px;
  height: 30px;
  outline: none;
}
header a:hover {
  cursor: pointer;
}

.search {
  margin-top: 20px;
}
.search input {
  width: 100%;
  padding: 7px 7px;
  width: calc(100% - 80px);
}

.search button {
  height: 38px;
  width: 47px;
  border: none;
  color: #fff;
  background: #333;
  font-size: 17px;
  border-radius: 5px;
}
.chatArea {
  width: 500px;
  height: 450px;
  padding: 15px;
  background: #f7f7f7;
  position: relative;
}

.user-list {
  margin-top: 15px;
  border-bottom: 1px solid rgb(230, 219, 219);
}

.users-list {
  max-height: 320px;
  overflow-y: auto;
}

.chat-section {
  height: 400px;
  padding: 10px 30px 20px 30px;
  max-height: 300px;
  overflow-y: auto;
}

.chatArea .recipient-details {
  display: flex;
  color: rgb(153, 153, 153);
}
.chatArea .recipient-details span {
  text-decoration: underline;
}

.recipient-details i {
  color: green;
  font-size: 10px;
  margin: 6px 0px 0px 10px;
}

.chat {
  margin: 16px 0;
}
.commande_chat .details {
  background-color: white;
  padding: 5px;
}
.commande_chat .details span {
  margin: 10px;
}
.commande_chat .side_bar_details {
  display: flex;
  column-gap: 15px;
}

.chat-section .chat p {
  padding: 8px 16px;
}
.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p {
  padding: 8px 16px;
  background: #333;
  color: #f7f7f7;
  border-radius: 18px 18px 0px 18px;
}
.outgoing {
  display: flex;
}

.incoming {
  display: flex;
  align-items: flex-end;
}
.incoming .details {
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0px;
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% -130px);
}
.incoming img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile {
  width: 200px;
  height: 450px;
  padding: 15px;
  background: rgb(53, 43, 43);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-profile .location {
  margin-top: 10px;
  display: flex;
}
.user-profile .location p {
  margin-left: 7px;
}
.user-profile .bio {
  margin-top: 10px;
  font-size: 12px;
}
.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contact_buttons {
  margin-top: 18px;
}
.contact_buttons button {
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  background-color: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
}

.typing-area {
  padding: 18px 30px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.typing-area input {
  height: 40px;
  width: calc(100% - 90px);
  font-size: 14px;
  padding: 0 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.typing-area button {
  width: 55px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  background: #333;
}
